@import "general";
@import "media";


.site-footer {
  background-color: #582d86;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h1 {
    color: #f4f4f4;
    font-size: 4.85538rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}

.our-help {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  cursor: pointer;

  a {
    color: var(--some-text);
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  img {
    width: 4.4rem;
    height: 4.4rem;
    transform: rotate(-90deg);
  }
}


.footer__lists {
  display: flex;
  margin-bottom: 7rem;
}

.footer__list:not(:last-child) {
  margin-right: 12rem;
}

.footer__list li:not(:first-child) {
  color: #FFF;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.footer__list li:first-child {
  color: #FFF;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.footer__logos {
  img:first-child {
    width: 9rem;
    height: 3.1rem;
    margin-right: 6rem;
  }
}


#splide__item-2{
  width: 100% !important;
  max-width: 25rem !important;
  margin-right: 1.5rem;
}

@include media(900px) {
  .site-footer h1 {
    font-size: 3.5rem !important;
  }

  .footer__list:not(:last-child) {
    margin-right: 8rem;
  }
}

@include media(770px) {
  .site-footer h1 {
    font-size: 3rem !important;
  }

  .our-help a {
    font-size: 2.75rem;
  }
}


@include media(750px) {
  .footer__list:not(:last-child) {
    margin-right: 6rem;
  }
}

@include media(500px) {
  .site-footer h1 {
    font-size: 2.5rem !important;
  }

  .our-help a {
    font-size: 2.4rem;
  }
  .our-help img {
    width: 3.4rem;
    height: 3.4rem;
  }
}

@include media(410px) {
  .site-footer h1 {
    font-size: 2.4rem !important;
  }
}

@include media(396px) {
  .site-footer h1 {
    font-size: 2.6rem !important;
  }
}