//Fonts
@font-face {
  font-family: 'Degular';
  src: url("../fonts/Degular-Light.woff2") format("woff2"),
       url("../fonts/Degular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url("../fonts/Degular-Regular.woff2") format("woff2"),
       url("../fonts/Degular-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url("../fonts/Degular-Medium.woff2") format("woff2"),
       url("../fonts/Degular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url("../fonts/Degular-Semibold.woff2") format("woff2"),
       url("../fonts/Degular-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

//Custom props

:root {
   --some-text: #9954ff;
   --darker-color: #4918a6;
   --ticker-color: #582D86;
   --tabs-active-color: #9954ff;
   --tabs-color:rgba(19, 12, 28, 0.3);

}



html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Degular", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
}

h1,h2,h3,h4,h5,h6,ul,li,p,a {
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}



button:hover,
button:focus {
  opacity: 0.9;
  outline: 0;
}

img {
  width: 100%;
  max-width: 100%;
}


.container {
  width: 100%;
  max-width: 92.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}


