@import "general";
@import "media";
.header-intro-wrapper {
  padding-top: 2.5rem;
  background-image: url("../img/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
}

//Backround image for retina
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .header-intro-wrapper {
    background-image: url("../img/main-bg@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;
  }
}

.site-header {
  padding: 1rem;
  transition: all 1s ease;

}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(81, 64, 128, 1);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  display: block;
  width: 6.875rem;
  height: 2.40981rem;
  flex-shrink: 0;
  margin-right: 9.2rem;
}

.header__logo:hover {
  opacity: 0.8;
}
.header__logo:active {
  opacity: 0.6;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item:not(:last-child) {
  margin-right: 2rem;
}

.navbar__item:hover .navbar__link {
  color: var(--some-text);
}

.navbar__item:active .navbar__link {
  color: rgba(153, 84, 255, 0.6);
}


.navbar__link {
  color: #ffffff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  transition: color .2s ease;
}


.header__link {
  width: 100%;
  max-width: 14rem;
  height: 3.5rem;
  display: flex;
  padding: 1.125rem 1.3875rem;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--darker-color);

}

.now-connecting {
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.header__link:hover {
  background-color: rgba(73, 24, 166, 0.8);
}

.header__link:active {
  background-color: rgba(73, 24, 166, 0.6);
}

.site-intro__wrapper {
  max-width: 60%;
  width: 100%;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-intro__title {
  color: #ffffff;
  font-size: 4.675rem;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
}

.header__toggler {
  display: none;
}
//Header sidebar styles
.header__sidebar {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background-color: var(--darker-color);
  z-index: 100;
  transition: left 0.4s ease;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.sidebar__item {
  width: 90%;
  margin-bottom: 2.5rem;
  text-align: center;
  cursor: pointer;

  a {
    display: block;
    width: 100%;
    margin-bottom: 0.4rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black-like-color);
    border-bottom: 1px solid var(--some-text);
  }
}

.sidebar__closer {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  width: 1.8rem;
  height: 1.8rem;

  img {
    width: 100%;
    height: 100%;
  }
}



@include media(1220px) {

  .site-header {
    margin-bottom: 6rem;
  }
  .header__logo {
    margin-right: 4.2rem;
  }

  .site-intro__wrapper {
    max-width: 80%;
    width: 100%;
    height: calc(100vh - 88px);
    justify-content: flex-start;
  }
  .site-intro__title {
    font-size: 3.5rem;
  }

}

@include media(1070px) {
  .navbar {
    display: none;
  }

  .header__toggler {
    display: block;
    margin-right: auto;
  }
}

@include media(800px) {
  .header-intro-wrapper {
    padding-top: 2rem;
    background-image: url("../img/intro-mobile-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40rem;
    background-attachment: fixed;
  }

   .site-intro__wrapper {
     max-width: 26rem;
     width: 100%;
     margin-right: auto;
     margin-left: auto;
     height:9rem;
   }

  .site-intro__title {
    font-size: 2.5rem;
    text-align: center;
  }
}
