@import "general";

.header-intro-wrapper {
  padding-top: 2.5rem;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
}

.site-header {
  padding: 0.7rem;
  margin-bottom: 12rem;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo {
  display: block;
  width: 6.875rem;
  height: 2.40981rem;
  flex-shrink: 0;
  margin-right: 9.2rem;
}

.header__logo:hover {
  opacity: 0.8;
}
.header__logo:active {
  opacity: 0.6;
}


.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item:not(:last-child) {
  margin-right: 2rem;
}

.navbar__item:hover .navbar__link {
  color: var(--some-text);
}

.navbar__item:active .navbar__link {
  color: rgba(153, 84, 255, 0.6);
}


.navbar__link {
  color: #ffffff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  transition: color .2s ease;
}


.header__link {
  width: 100%;
  max-width: 13rem;
  height: 4rem;
  display: flex;
  padding: 1.125rem 1.6875rem;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--darker-color);

}

.now-connecting {
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.header__link:hover {
  background-color: rgba(73, 24, 166, 0.8);
}

.header__link:active {
  background-color: rgba(73, 24, 166, 0.6);
}

.site-intro__wrapper {
  max-width: 40rem;
  width: 100%;
}

.site-intro__title {
  color: #ffffff;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
}
