@import "general";

.site-main {
  flex-grow: 1;
}

.site-main__actions {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7rem;
}
.site-main__slider {
  width: 100%;
  max-width: 50vw;
  height: 80vh;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}


.site-main__slider::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.4rem;
}

.site-main__slider::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(255, 255, 255);
}

.site-main__slider::-webkit-scrollbar-thumb {
  background-color: var(--some-text);
  outline: 1px solid #f5f5f5;
}

.slider-item {
  display:inline-block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  text-align: center;
  line-height: 300px;
  font-size: 1.5rem;
}

.slider-image {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



.ticker {
  position: relative;
  z-index: 1;
  width: 50vw;
  height: 3rem;
  padding: 2rem;

}

.ticker__line {
  position: absolute;
  left:0;
  top: 10vh;
  width: 48.8vw;
  height: 100%;
  transform: translateY(-1px);
  background-color: var(--ticker-color);
  overflow: hidden;
}

.ticker__track {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation-name: ticker;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ticker__item {
  flex-shrink: 0;
  margin: 0 1rem;
  font-size: calc ( 24 / 16) rem;
  font-weight: 500;
  color: #ffffff;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}


//In progress styles
.progress__wrapper {
  width: 36.0625rem;
  height: 12.5rem;
  flex-shrink: 0;
}

.progress__text {
  color: #000;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.progress__opener {
  display: flex;
  align-items: center;
  cursor: pointer;

  button {
    color: var(--some-text);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  img {
    width: 2.875rem;
    height: 2.875rem;
  }
}


//Progress carucel
.progress__carucel {
  display: flex;


  section {
    margin-right: 2.5rem;
  }
}
.carucel__item {
  width: 100%;
  max-width: 36rem;


  strong  {
    color: #130c1c;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

}



.carucel__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50% ;
  max-width: 6rem;
  width: 100%;
  height: 6rem;
  margin-bottom: 0.6rem;
  background-color: var(--darker-color);

  span{
    color: #F4F4F4;
    font-size: 3.84831rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
}

.tabs-info {
  margin-bottom: 1rem;
}


.tabs__list {
  display: flex;
  margin-bottom: 0.5rem;
}


.tabs__item:first-child .tabs__link {
  color: var(--tabs-active-color);
}

.tabs__item:not(:last-child) {
  margin-right: 1.9rem;
}


.tabs__link {
  color: var(--tabs-color);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#splide-container {
  max-width: 100%;
  width: 100%;
  margin: 5rem auto;
  padding: 1rem;
}

/* Style navigation arrows */
.splide__arrow {
  font-size: 20px;
  margin-top: -10rem;
  background-color: var(--some-text) !important;


  svg {
    color:var(--darker-color);
  }
}



/* Style pagination */
.splide__pagination__page {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: var(--some-text);
  cursor: pointer;
}

.splide__pagination__page.splide__pagination__page--active {
  background-color: white;
}