@import "general";
@import "media";
.site-main {
  flex-grow: 1;
}

.splide-list {
   transform: translateX(-2960px) !important;
}

.site-main__actions {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7rem;
}
.site-main__slider {
  width: 100%;
  max-width: 60vw;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 4rem;
}


.site-main__slider::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.4rem;

}

.site-main__slider::-webkit-scrollbar-track {
  border: 1px solid var(--darker-color);
}

.site-main__slider::-webkit-scrollbar-thumb {
  background-color: var(--some-text);
  outline: 1px solid #f5f5f5;
  border-radius: 0.1rem;
}

.slider-item {
  display:inline-block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  text-align: center;
  line-height: 300px;
  font-size: 1.5rem;
}

.slider-image {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



.ticker {
  position: relative;
  z-index: 1;
  width: 50vw;
  height: 2rem;
  padding: 1.5rem;
}

.ticker__line {
  position: absolute;
  left:0;
  top: 15vh;
  width: 39vw;
  height: 100%;
  transform: translateY(-1px);
  background-color: var(--ticker-color);
  overflow: hidden;
}

.ticker__track {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation-name: ticker;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  img {
    transform: rotate(-90deg);
  }
}

.ticker__item {
  flex-shrink: 0;
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}


//In progress styles
.progress__wrapper {
  width: 36.0625rem;
  height: 12.5rem;
  flex-shrink: 0;
}

.progress__text {
  color: #000;
  font-size: 1.575rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.progress__opener {
  display: flex;
  align-items: center;
  cursor: pointer;

  button {
    color: var(--some-text);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  img {
    width: 2.875rem;
    height: 2.875rem;
  }
}


//Progress carucel
.progress__carucel {
  display: flex;


  div {
    margin-right: 2.5rem;
  }
}
.carucel__item {
  width: 100%;
  max-width: 36rem;


  strong  {
    color: #130c1c;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

}


#splide__item {
  width: 100% !important;
  max-width: 36rem !important;
  margin-right: 1.5rem;
}

#splide-container {
  margin: 5rem 0 !important;
}

.slide__wrapper {
  width: 100%;
  max-width: 36rem;

}



.carucel__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50% ;
  max-width: 6rem;
  width: 100%;
  height: 6rem;
  margin-bottom: 0.6rem;
  background-color: var(--darker-color);
  box-shadow: 0.3rem 0.3rem 0 #9954FF;


  span{
    color: #F4F4F4;
    font-size: 3.84831rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
}

.carucel__tabs {
  width: 100%;
}


.tabs-info {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  width: 100%;
  max-width: 36rem;
}


.tabs__list {
  display: flex;
  margin-bottom: 0.5rem;
}




.tabs__item:first-child .tabs__link {
  color: var(--tabs-active-color);
}

.tabs__item:not(:last-child) {
  margin-right: 1rem;
}


.tabs__link {
  color: var(--tabs-color);
  font-size: 1.175rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

#splide-container {
  max-width: 100%;
  width: 100%;
  margin: 5rem auto;

}

.splide-track {
  overflow-x: hidden !important;
}

/* Style navigation arrows */
.splide__arrow {
  display: block;
  position: absolute;
  font-size: 20px;
  margin-top: -15rem;



  svg {
    color:var(--darker-color);
  }

}

.splide__arrow--prev {
  width: calc (40 / 16)rem !important;
  height: calc (20 / 16)rem !important;
  background-color: transparent !important;
  background-image: url("../img/arrow-to-left.svg") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: left center !important;
  right: 6rem !important;
  left: auto !important;

  svg {
    display: none !important;
    background-color: var(--darker-color) !important;
    color:var(--darker-color) !important;

  }
}

.splide__arrow--next {
  width: calc (40 / 16)rem !important;
  height: calc (20 / 16)rem !important;
  background-color: transparent !important;
  background-image: url("../img/arrow-to-right.svg") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: left center !important;

  svg {
    display: none !important;
    color:var(--darker-color) !important;
  }
}



/* Style pagination */
.splide__pagination__page {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  background-color: var(--some-text);
  cursor: pointer;
}

.splide__pagination__page.splide__pagination__page--active {
  background-color: white;
}


//Success styles
.success__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;

}

.success__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30%;
  min-height: 20rem;
  margin-right: 2.5rem;
  height: 100%;

  p {
    width: 100%;
    color: #130c1c;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

}

.other {
  color: var(--black-like-color);
  font-size: 1.175rem;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 1.1rem */
}

.success {
  margin-bottom: 5rem;
}

.success__inner:last-child {
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 1.6rem;
  }

}

.success__card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 12.125rem;
  width: 100%;
  height: 4.4375rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  flex-shrink: 0;

}

.success__result {
  background-color: var(--darker-color);
  color: #f4f4f4;
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0.4rem 0.4rem 0 #9954FF;
}

//Projects Info styles

//Projects top styles
.project-info__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.2rem;



  &__img {
    display: block;
    width: 100%;
    height: 23.70781rem;
    margin-left: auto;
  }
}


.projects__link {
  margin-bottom: 1.5rem;
}


.top-image-wrapper {
  width: 30%;
}




.projects__wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  flex-shrink: 0;

}

.projects__wrapper__second {
  display: flex;
  flex-direction: column;
  width: 60%;
  flex-shrink: 0;

}


.projects__link {
  display: flex;
  align-items: center;
  cursor: pointer;

  a {
    color: var(--some-text);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  img {
    transform: rotate(-90deg);
  }
}





.projects__card {
  width: 100%;
  max-width: 31.25rem;

  h2 {
    color: var(--black-like-color);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  p {
    color: var(--black-like-color);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}


.projects__card:nth-child(1) {
  margin-bottom: 1.2rem;
}

.auto {
  align-self: flex-end;
}


//Projects bottom styles
.projects-info {
  margin-bottom: 5.3rem;
}


.project-info__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__img {
    display: block;
    width: 100%;
    height: 23.70781rem;

  }
}


.bottom-image-wrapper {
  transform: translateX(-7.4rem);
   width: 40%;
   align-self: flex-end;

  img {
    width: 100%;
    object-fit: cover;
  }
}

//Our customers styles
.customers-wrapper {
  background-color: var(--some-text);
  margin-bottom: 6rem;
}

.customers__inner {
  padding: 6.3rem 0;
}


.customers__mentioned {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 24rem;
  margin-bottom: 3rem;

  &::before {
    width: 6rem;
    height: 0.125rem;
    content: "";
    margin-left: -5vw;
    margin-right: 1rem;
    background-color: #fff;
  }

  strong {
    display: block;
    color: #f4f4f4;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    position: absolute;
  }
}


.brands__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands__list:not(:last-child) {
  margin-bottom: 6rem;
}


//Services styles
.services {
  margin-bottom: 8.5rem;
}
.services__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.services__tabs {
  width: 34%;
  margin-right: 9.1rem;
  margin-left:  2rem;
}

.services__mentioned {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;

  &::before {
    display: block;
    width: 6rem;
    height: 0.125rem;
    content: "";
    margin-left: -5vw;
    background-color: var(--black-like-color);
  }

  strong {
    position: absolute;
    color: var(--black-like-color);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
}


.service__list {
  counter-reset: services;
  list-style-type: none;
  margin-left: 2rem;
}

.service__item {
  position: relative;
  counter-increment: services;
}

.service__item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.service__item--active {
   .service__item::before {
     color: var(--black-like-color);
   }

  .service__link {
    color: var(--black-like-color);
  }

  .service__link::before {
    content: counter(services, decimal-leading-zero);
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    top: -0.2rem;
    left: -2rem;
    color: var(--black-like-color);
    font-size: 1.325rem;
    font-style: normal;
    font-weight: 300;
    line-height: 107%;
  }

}

.service__link {
  color:var(--lighter-text-color);
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;

  &::before {
    content: counter(services, decimal-leading-zero);
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    top: -0.2rem;
    left: -2rem;
    color: var(--lighter-text-color);
    font-size: 1.325rem;
    font-style: normal;
    font-weight: 300;
    line-height: 107%;
  }
}



//Services type

.services__type {
  width: 100%;
  max-width: 35rem;
  transform: translateY(0.1rem);


  p {
    margin-bottom: 1rem;
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.type__tabs {
  display: flex;
  width: 100%;
  max-width: 34rem;
  flex-wrap: wrap;

  a {
    max-width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3125rem 1.375rem;
    border-radius: 3rem;
    background-color: rgba(19, 12, 28, 0.30);
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
    cursor: pointer;

  }


}



.type__tab {
  color: var(--black-like-color);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;


  &--active {
    color: #f4f4f4;
    background-color: var(--some-text) !important;
  }
}


//Using services styles

.using-services {
  display: flex;
  align-items: center;

  &__link {
    color: var(--some-text);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  img {
    transform: rotate(-90deg);
  }
}

.success-ticker {
  position: relative;
  z-index: 1;
  width: 99vw;
  height: 2rem;
  padding: 1.5rem;
  margin-bottom: 12.4rem;
}

.success-ticker__line {
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  transform: translateY(-1px);
  background-color: var(--ticker-color);
  overflow: hidden;
}

.success-ticker__track {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation-name: ticker;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  img {
     transform: rotate(-90deg);
     color:var(--some-text);
  }
}

.success-ticker__item {
  flex-shrink: 0;
  margin: 0 1rem;
  font-size:2rem;
  font-weight: 500;
  color: #ffffff;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}



//Portfolio styles


//.splide__item-2 {
//  width: 100% !important;
//  max-width: 25rem !important;
//}

.portfolio__slider {
  margin-bottom: 3rem;
}
.splide__track {
  margin-bottom: 3rem;

}
.portolio__mentioned {
  display: flex;
  align-items:center;
  margin-bottom: 3rem;
  position: relative;


  &::before {
    display: block;
    width: 6rem;
    height: 0.175rem;
    content: "";
    margin-left: -5vw;
    background-color: var(--black-like-color);
    position: absolute;
  }




  strong {
    position: absolute;
    color: var(--black-like-color);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.splide__item-2 {
  width: 100% !important;
  max-width: 25rem !important;
}



.portfolio__inner {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.0625rem;
    height: 3.0625rem;
    flex-shrink: 0;
    border-radius: 50%;
    background-color:var(--black-like-color);
    color: #f4f4f4;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 107%;
    margin-bottom: 0.6rem;
    margin-top: 1rem;
  }

  h3 {
    color: var(--black-like-color);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 107%;
  }

  p {
    color: var(--color-0, #130C1C);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 107%
  }
}


.portfolio__more {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;

  a {
    color: var(--some-text);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  img {
    transform: rotate(-90deg);
  }
}


//Changeable text

.changeable-text {
  margin-bottom: 9rem;
}
.changeable-text__inner {
  width: 100%;
  max-width: 90rem;
  position: relative;

  img:first-child {
    position: absolute;
    top: -3rem;
  }
  img:nth-child(2) {
    position: absolute;
    bottom: -2rem;
    right: 2rem;
    transform: rotate(-180deg);
  }

  strong {
    text-align: center;
    color: #000;
    font-size: 4.85538rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    transition: color 0.3s ease;
    position: relative;
    background-image: linear-gradient(to right, black, gray);
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientSlide 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }
}
@keyframes gradientSlide {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0;
  }
}

//Registration styles
.registration-for-contact {
  margin-bottom: 6.4rem;
}


.contact-mentioned {
  margin-bottom: 2rem;

  strong {
    color: var(--black-like-color);
    font-size: 1.875rem;
    font-weight: 400;
    line-height: normal;
  }

}



.form__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3rem;
}


.form__fill {
  width: 50%;
  margin-right: 4rem;

  div {
    margin-bottom: 1.8rem;
  }

  label {
    display: block;
    margin-bottom: 0.4rem;
    color: #000;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
  }

  input {
    width:100%;
    max-width: 100%;
    height: 3rem;
    display: block;
    border: none;
    padding: 0.4rem;
    border-bottom: 1px solid black;
    outline: none ;
    color: #000;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
  }
}




.form__selecting {
  width: 50%;
}

.for-selecting {

  &__mentioner {
    color: rgba(0,0,0,0.6);
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
  }
}

//Switch case styles
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.switch__wrapper {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(30px);
}

.switch-label {
  display: block;
  cursor: pointer;
}

.switch-label:not(:last-child) {
  margin-right: 1.2rem;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: relative;
  display: block;
  width: 3.6rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}




.switch-input:checked + .switch__inner .switch-slider {
  background-color: #ffffff;
}

.switch-input:focus + .switch__inner .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch-input:checked + .switch__inner .switch-slider:before {
  background-color: var(--some-text);
  transform: translateX(2rem);
}

.switch__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 12rem;
  background-color: rgba(19, 12, 28, 0.30);
  border-radius: 3rem;
  padding: 0.5rem;


  span:first-child {
    display: block;
    color: var(--black-like-color);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 0.2rem;
  }
}

.switch-input:checked + .switch__inner {
  background-color: var(--some-text);
  color: #f4f4f4;
}

.switch-input:checked + .switch__inner span {
  color: #f4f4f4;
}

.form__submit__button {
  display: flex;
  width: 12.4375rem;
  padding: 1.125rem 1.6875rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background-color: var(--darker-color);
  flex-shrink: 0;

  span {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-transform: uppercase;
  }
}




@include media(94.75rem) {
  .container {
    width: 100%;
    max-width: 83.25rem;
  }
   .customers-wrapper .container {
     max-width: 83.25rem;
   }
}


@include media(1360px) {

  .project-info__top {
    justify-content: flex-start;
  }

  .projects__wrapper {
    width: 50% !important;
  }

  .projects__card:last-child {
    align-self: flex-start;
    margin-left: 5rem;
  }

  .bottom-image-wrapper {
    width: 50%;
    img {
      width: 35rem;
      margin-left: 7rem;
    }
  }

  .projects__wrapper{
    width: 55% !important;
  }
}

@include media(1110px) {
  .projects__card:last-child {
    align-self: flex-start;
    margin-left: 0;
  }

  .top-image-wrapper {
    width: 50%;
    img {
      width: 27rem;
      height: auto;
    }
  }

  .bottom-image-wrapper {
    width: 50%;
    img {
      width: 32rem;
      height: auto;
    }
  }



}

@include media(1260px) {
  .success__wrapper {
    justify-content: space-around;
  }
  .success__inner {
    margin-bottom: 1rem;
     width: 40rem;

    p {
      width: 100%;
      color: #130c1c;
      font-size: 1.575rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
   }
}


@include media(1200px) {
  .site-main__actions {
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
  }

  .site-main__slider {
    width: 100%;
    max-width: 100%;
    height: 50vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 4rem;
  }

  .site-main__slider::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.4rem;

  }

  .site-main__slider::-webkit-scrollbar-track {
    border: 1px solid var(--darker-color);
  }

  .site-main__slider::-webkit-scrollbar-thumb {
    background-color: var(--some-text);
    outline: 1px solid #f5f5f5;
    border-radius: 0.1rem;
  }

  .slider-item {
    display:inline-block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    text-align: center;
    font-size: 1.5rem;
  }

  .slider-image {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .ticker {
    order: -1;
    position: relative;
    top: 0;
    width: 100%;
    height: 2rem;
    padding: 1.5rem;
  }

  .ticker__line {
    width: 100%;
    top: 0;
  }

}

@include media(1000px) {
  .progress__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .progress__opener {
    align-self: flex-start;
  }
  .tabs__list {
    margin-bottom: 0.5rem;
  }

  .tabs__link {
    color: var(--tabs-color);
    font-size: 1.575rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
  }

  .tabs-info {
    font-size: 1.375rem;
  }
}




@include media(900px) {
  .success__wrapper {
    justify-content: space-around;
  }
  .success__inner {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 100%;
    min-height: 0;

    p {
      width: 100%;
      color: #130c1c;
      font-size: 1.575rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}


@include media(900px) {
  .project-info__top {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }

  .projects__wrapper {
    width: 100% !important;

    .projects__card {
      width:100% !important;
      max-width: 100% !important;
    }

    p {
      width: 100% !important;
    }
  }
  .top-image-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
    order: -1;
    margin-bottom: 0.5rem;
  }

  .projects__wrapper__second {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;

    .projects__card {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
  .project-info__bottom {
    flex-direction: column;
  }
  .bottom-image-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
}

@include media(1200px){
  .customers__mentioned::before {
    display: none;
  }

  .portolio__mentioned:before {
    display: none;
  }

  .brands__list {
    flex-wrap: wrap;
  }

  .brands__item img {
    width: 100%;
    max-width: 160px;
    height: auto;
  }
}


@include media(700px){
  .customers__mentioned::before {
    display: none;
  }

  .brands__list {
    flex-wrap: wrap;
  }

  .brands__item img {
    width: 100%;
    max-width: 9rem;
    height: auto;
  }

  .other {
    color: var(--black-like-color);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 1.1rem */
  }
}


@include media(600px){
  .customers__mentioned::before {
    display: none;
  }

  .brands__list {
    flex-wrap: wrap;
  }

  .brands__item img {
    width: 100%;
    max-width: 8rem;
    height: auto;
  }
}


@include media(700px){
  .changeable-text__inner {
    width: 100%;
    max-width: 90rem;
    position: relative;

    img:first-child {
      position: absolute;
      top: -3rem;
    }
    img:nth-child(2) {
      position: absolute;
      bottom: -2rem;
      right: 2rem;
      transform: rotate(-180deg);
    }

    strong {
      text-align: center;
      color: #000;
      font-size: 2.35538rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      transition: color 0.3s ease;
      position: relative;
      background-image: linear-gradient(to right, black, gray);
      background-clip: text;
      -webkit-background-clip: text;
      animation: gradientSlide 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    }
  }
}

@include media(500px) {
  .changeable-text__inner {
    width: 100%;
    max-width: 90rem;
    position: relative;

    img:first-child {
      position: absolute;
      top: -4rem;
    }
    img:nth-child(2) {
      position: absolute;
      bottom: -2rem;
      right: 2rem;
      transform: rotate(-180deg);
    }

    strong {
      text-align: center;
      color: #000;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      transition: color 0.3s ease;
      position: relative;
      background-image: linear-gradient(to right, black, gray);
      background-clip: text;
      -webkit-background-clip: text;
      animation: gradientSlide 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    }
  }
}

@include media(700px) {
  .changeable-text__inner img:nth-child(2) {
    position: absolute;
    bottom: -3rem;
    right: 2rem;
    transform: rotate(-180deg);
  }
}



@include media(1000px) {
  .form__inner {
    flex-direction: column;
  }
  .form__fill {
    width: 100%;
    max-width: 100%;
  }

  .form__selecting {
    width: 100%;
    max-width: 100%;
  }
  .switch__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .form__submit__button {
    width: 100%;
    max-width: 100%;
  }
}

@include  media(700px) {
  .switch__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 15rem;
    background-color: rgba(19, 12, 28, 0.30);
    border-radius: 3rem;
    padding: 0.8rem;

    .switch-label:nth-child(3) {
      margin-left: -2rem !important;
    }

    span:first-child {
      display: block;
      color: var(--black-like-color);
      font-size: 1.075rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 0.1rem;
    }
  }
}

@include media(470px) {
  .switch__wrapper {
    transform: translateY(0);
  }

  .switch-label {
    display: block;
    width:100% !important;
    max-width: calc(50% - 2.4rem) !important;
  }

  .switch-label:nth-child(3) {
    margin-left: -1.2rem;
  }
}


