@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Light.woff2") format("woff2"), url("../fonts/Degular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Regular.woff2") format("woff2"), url("../fonts/Degular-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Medium.woff2") format("woff2"), url("../fonts/Degular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Semibold.woff2") format("woff2"), url("../fonts/Degular-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
:root {
  --some-text: #9954ff;
  --darker-color: #4918a6;
  --ticker-color: #582D86;
  --tabs-active-color: #9954ff;
  --tabs-color:rgba(19, 12, 28, 0.3);
  --black-like-color:#130c1c;
  --lighter-text-color:rgba(19, 12, 28, 0.4);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Degular", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover,
button:focus {
  opacity: 0.9;
  outline: 0;
}

.container {
  width: 100%;
  max-width: 92.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 94.75rem) {
  .container {
    width: 100%;
    max-width: 83.25rem;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 396px) {
  html {
    font-size: 12px;
  }
}
.header-intro-wrapper {
  padding-top: 2.5rem;
  background-image: url("../img/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header-intro-wrapper {
    background-image: url("../img/main-bg@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;
  }
}
.site-header {
  padding: 1rem;
  transition: all 1s ease;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(81, 64, 128);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  display: block;
  width: 6.875rem;
  height: 2.40981rem;
  flex-shrink: 0;
  margin-right: 9.2rem;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item:not(:last-child) {
  margin-right: 2rem;
}

.navbar__item:hover .navbar__link {
  color: var(--some-text);
}

.navbar__item:active .navbar__link {
  color: rgba(153, 84, 255, 0.6);
}

.navbar__link {
  color: #ffffff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.header__link {
  width: 100%;
  max-width: 14rem;
  height: 3.5rem;
  display: flex;
  padding: 1.125rem 1.3875rem;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--darker-color);
}

.now-connecting {
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.header__link:hover {
  background-color: rgba(73, 24, 166, 0.8);
}

.header__link:active {
  background-color: rgba(73, 24, 166, 0.6);
}

.site-intro__wrapper {
  max-width: 60%;
  width: 100%;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-intro__title {
  color: #ffffff;
  font-size: 4.675rem;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
}

.header__toggler {
  display: none;
}

.header__sidebar {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background-color: var(--darker-color);
  z-index: 100;
  transition: left 0.4s ease;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.sidebar__item {
  width: 90%;
  margin-bottom: 2.5rem;
  text-align: center;
  cursor: pointer;
}
.sidebar__item a {
  display: block;
  width: 100%;
  margin-bottom: 0.4rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--black-like-color);
  border-bottom: 1px solid var(--some-text);
}

.sidebar__closer {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  width: 1.8rem;
  height: 1.8rem;
}
.sidebar__closer img {
  width: 100%;
  height: 100%;
}

.header__mobile {
  display: flex;
}

.d-none {
  display: none;
}

@media screen and (max-width: 1220px) {
  .site-header {
    margin-bottom: 6rem;
  }
  .header__logo {
    margin-right: 4.2rem;
  }
  .site-intro__wrapper {
    max-width: 80%;
    width: 100%;
    height: calc(100vh - 88px);
    justify-content: flex-start;
  }
  .site-intro__title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1070px) {
  .navbar {
    display: none;
  }
  .header__toggler {
    display: block !important;
    margin-right: 10rem;
  }
}
@media screen and (max-width: 800px) {
  .header-intro-wrapper {
    padding-top: 2rem;
    background-image: url("../img/intro-mobile-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40rem;
    background-attachment: fixed !important;
  }
  .site-intro__wrapper {
    max-width: 26rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 9rem;
  }
  .site-intro__title {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .flex-container {
    display: block;
  }
  .header__toggler {
    display: block;
    margin-right: auto;
  }
  .header__mobile {
    display: flex;
  }
  .header__logo {
    margin-right: auto;
  }
  .header__link {
    display: none;
  }
  .site-intro__wrapper {
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .site-intro__title {
    margin-bottom: 1.5rem;
  }
  .d-none {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 446px) {
  .site-intro__wrapper {
    max-width: 27rem !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 395px) {
  .site-intro__wrapper {
    max-width: 27rem !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Light.woff2") format("woff2"), url("../fonts/Degular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Regular.woff2") format("woff2"), url("../fonts/Degular-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Medium.woff2") format("woff2"), url("../fonts/Degular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Semibold.woff2") format("woff2"), url("../fonts/Degular-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
:root {
  --some-text: #9954ff;
  --darker-color: #4918a6;
  --ticker-color: #582D86;
  --tabs-active-color: #9954ff;
  --tabs-color:rgba(19, 12, 28, 0.3);
  --black-like-color:#130c1c;
  --lighter-text-color:rgba(19, 12, 28, 0.4);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Degular", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover,
button:focus {
  opacity: 0.9;
  outline: 0;
}

.container {
  width: 100%;
  max-width: 92.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 94.75rem) {
  .container {
    width: 100%;
    max-width: 83.25rem;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 396px) {
  html {
    font-size: 12px;
  }
}
.site-main {
  flex-grow: 1;
}

.splide-list {
  transform: translateX(-2960px) !important;
}

.site-main__actions {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7rem;
}

.site-main__slider {
  width: 100%;
  max-width: 60vw;
  height: 70vh;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 4rem;
}

.site-main__slider::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.4rem;
}

.site-main__slider::-webkit-scrollbar-track {
  border: 1px solid var(--darker-color);
}

.site-main__slider::-webkit-scrollbar-thumb {
  background-color: var(--some-text);
  outline: 1px solid #f5f5f5;
  border-radius: 0.1rem;
}

.slider-item {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  text-align: center;
  line-height: 300px;
  font-size: 1.5rem;
}

.slider-image {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.ticker {
  position: relative;
  z-index: 1;
  width: 50vw;
  height: 2rem;
  padding: 1.5rem;
}

.ticker__line {
  position: absolute;
  left: 0;
  top: 15vh;
  width: 39vw;
  height: 100%;
  transform: translateY(-1px);
  background-color: var(--ticker-color);
  overflow: hidden;
}

.ticker__track {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation-name: ticker;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ticker__track img {
  transform: rotate(-90deg);
}

.ticker__item {
  flex-shrink: 0;
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}
.progress__wrapper {
  width: 36.0625rem;
  height: 12.5rem;
  flex-shrink: 0;
}

.progress__text {
  color: #000;
  font-size: 1.575rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.progress__opener {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.progress__opener button {
  color: var(--some-text);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.progress__opener img {
  width: 2.875rem;
  height: 2.875rem;
}

.progress__carucel {
  display: flex;
}
.progress__carucel div {
  margin-right: 2.5rem;
}

.carucel__item {
  width: 100%;
  max-width: 36rem;
}
.carucel__item strong {
  color: #130c1c;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#splide__item {
  width: 100% !important;
  max-width: 36rem !important;
  margin-right: 1.5rem;
}

#splide-container {
  margin: 5rem 0 !important;
}

.slide__wrapper {
  width: 100%;
  max-width: 36rem;
}

.carucel__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  max-width: 6rem;
  width: 100%;
  height: 6rem;
  margin-bottom: 0.6rem;
  background-color: var(--darker-color);
  box-shadow: 0.3rem 0.3rem 0 #9954FF;
}
.carucel__circle span {
  color: #F4F4F4;
  font-size: 3.84831rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.carucel__tabs {
  width: 100%;
}

.tabs-info {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  width: 100%;
  max-width: 36rem;
}

.tabs__list {
  display: flex;
  margin-bottom: 0.5rem;
}

.tabs__item:first-child .tabs__link {
  color: var(--tabs-active-color);
}

.tabs__item:not(:last-child) {
  margin-right: 1rem;
}

.tabs__link {
  color: var(--tabs-color);
  font-size: 1.175rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

#splide-container {
  max-width: 100%;
  width: 100%;
  margin: 5rem auto;
}

.splide-track {
  overflow-x: hidden !important;
}

/* Style navigation arrows */
.splide__arrow {
  display: block;
  position: absolute;
  font-size: 20px;
  margin-top: -15rem;
}
.splide__arrow svg {
  color: var(--darker-color);
}

.splide__arrow--prev {
  width: calc 2.5 rem !important;
  height: calc 1.25 rem !important;
  background-color: transparent !important;
  background-image: url("../img/arrow-to-left.svg") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: left center !important;
  right: 6rem !important;
  left: auto !important;
}
.splide__arrow--prev svg {
  display: none !important;
  background-color: var(--darker-color) !important;
  color: var(--darker-color) !important;
}

.splide__arrow--next {
  width: calc 2.5 rem !important;
  height: calc 1.25 rem !important;
  background-color: transparent !important;
  background-image: url("../img/arrow-to-right.svg") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: left center !important;
}
.splide__arrow--next svg {
  display: none !important;
  color: var(--darker-color) !important;
}

/* Style pagination */
.splide__pagination__page {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  background-color: var(--some-text);
  cursor: pointer;
}

.splide__pagination__page.splide__pagination__page--active {
  background-color: white;
}

.success__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.success__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30%;
  min-height: 20rem;
  margin-right: 2.5rem;
  height: 100%;
}
.success__inner p {
  width: 100%;
  color: #130c1c;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.other {
  color: var(--black-like-color);
  font-size: 1.175rem;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 1.1rem */
}

.success {
  margin-bottom: 5rem;
}

.success__inner:last-child {
  display: flex;
  flex-direction: column;
}
.success__inner:last-child div {
  margin-bottom: 1.6rem;
}

.success__card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 12.125rem;
  width: 100%;
  height: 4.4375rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  flex-shrink: 0;
}

.success__result {
  background-color: var(--darker-color);
  color: #f4f4f4;
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0.4rem 0.4rem 0 #9954FF;
}

.project-info__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.2rem;
}
.project-info__top__img {
  display: block;
  width: 100%;
  height: 23.70781rem;
  margin-left: auto;
}

.projects__link {
  margin-bottom: 1.5rem;
}

.top-image-wrapper {
  width: 30%;
}

.projects__wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  flex-shrink: 0;
}

.projects__wrapper__second {
  display: flex;
  flex-direction: column;
  width: 60%;
  flex-shrink: 0;
}

.projects__link {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.projects__link a {
  color: var(--some-text);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.projects__link img {
  transform: rotate(-90deg);
}

.projects__card {
  width: 100%;
  max-width: 31.25rem;
}
.projects__card h2 {
  color: var(--black-like-color);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.projects__card p {
  color: var(--black-like-color);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projects__card:nth-child(1) {
  margin-bottom: 1.2rem;
}

.auto {
  align-self: flex-end;
}

.projects-info {
  margin-bottom: 5.3rem;
}

.project-info__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.project-info__bottom__img {
  display: block;
  width: 100%;
  height: 23.70781rem;
}

.bottom-image-wrapper {
  transform: translateX(-7.4rem);
  width: 40%;
  align-self: flex-end;
}
.bottom-image-wrapper img {
  width: 100%;
  object-fit: cover;
}

.customers-wrapper {
  background-color: var(--some-text);
  margin-bottom: 6rem;
}

.customers__inner {
  padding: 6.3rem 0;
}

.customers__mentioned {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 24rem;
  margin-bottom: 3rem;
}
.customers__mentioned::before {
  width: 6rem;
  height: 0.125rem;
  content: "";
  margin-left: -5vw;
  margin-right: 1rem;
  background-color: #fff;
}
.customers__mentioned strong {
  display: block;
  color: #f4f4f4;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  position: absolute;
}

.brands__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands__list:not(:last-child) {
  margin-bottom: 6rem;
}

.services {
  margin-bottom: 8.5rem;
}

.services__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.services__tabs {
  width: 34%;
  margin-right: 9.1rem;
  margin-left: 2rem;
}

.services__mentioned {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
}
.services__mentioned::before {
  display: block;
  width: 6rem;
  height: 0.125rem;
  content: "";
  margin-left: -5vw;
  background-color: var(--black-like-color);
}
.services__mentioned strong {
  position: absolute;
  color: var(--black-like-color);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.service__list {
  counter-reset: services;
  list-style-type: none;
  margin-left: 2rem;
}

.service__item {
  position: relative;
  counter-increment: services;
}

.service__item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.service__item--active .service__item::before {
  color: var(--black-like-color);
}
.service__item--active .service__link {
  color: var(--black-like-color);
}
.service__item--active .service__link::before {
  content: counter(services, decimal-leading-zero);
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  top: -0.2rem;
  left: -2rem;
  color: var(--black-like-color);
  font-size: 1.325rem;
  font-style: normal;
  font-weight: 300;
  line-height: 107%;
}

.service__link {
  color: var(--lighter-text-color);
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.service__link::before {
  content: counter(services, decimal-leading-zero);
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  top: -0.2rem;
  left: -2rem;
  color: var(--lighter-text-color);
  font-size: 1.325rem;
  font-style: normal;
  font-weight: 300;
  line-height: 107%;
}

.services__type {
  width: 100%;
  max-width: 35rem;
  transform: translateY(0.1rem);
}
.services__type p {
  margin-bottom: 1rem;
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.type__tabs {
  display: flex;
  width: 100%;
  max-width: 34rem;
  flex-wrap: wrap;
}
.type__tabs a {
  max-width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem 1.375rem;
  border-radius: 3rem;
  background-color: rgba(19, 12, 28, 0.3);
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.type__tab {
  color: var(--black-like-color);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
.type__tab--active {
  color: #f4f4f4;
  background-color: var(--some-text) !important;
}

.using-services {
  display: flex;
  align-items: center;
}
.using-services__link {
  color: var(--some-text);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.using-services img {
  transform: rotate(-90deg);
}

.success-ticker {
  position: relative;
  z-index: 1;
  width: 99vw;
  height: 2rem;
  padding: 1.5rem;
  margin-bottom: 12.4rem;
}

.success-ticker__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-1px);
  background-color: var(--ticker-color);
  overflow: hidden;
}

.success-ticker__track {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation-name: ticker;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.success-ticker__track img {
  transform: rotate(-90deg);
  color: var(--some-text);
}

.success-ticker__item {
  flex-shrink: 0;
  margin: 0 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}
.portfolio__slider {
  margin-bottom: 3rem;
}

.splide__track {
  margin-bottom: 3rem;
}

.portolio__mentioned {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
}
.portolio__mentioned::before {
  display: block;
  width: 6rem;
  height: 0.175rem;
  content: "";
  margin-left: -5vw;
  background-color: var(--black-like-color);
  position: absolute;
}
.portolio__mentioned strong {
  position: absolute;
  color: var(--black-like-color);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.splide__item-2 {
  width: 100% !important;
  max-width: 25rem !important;
}

.portfolio__inner {
  width: 100%;
}
.portfolio__inner img {
  width: 100%;
  height: 100%;
}
.portfolio__inner span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.0625rem;
  height: 3.0625rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--black-like-color);
  color: #f4f4f4;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 107%;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}
.portfolio__inner h3 {
  color: var(--black-like-color);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
}
.portfolio__inner p {
  color: var(--color-0, #130C1C);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 107%;
}

.portfolio__more {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}
.portfolio__more a {
  color: var(--some-text);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.portfolio__more img {
  transform: rotate(-90deg);
}

.changeable-text {
  margin-bottom: 9rem;
}

.changeable-text__inner {
  width: 100%;
  max-width: 90rem;
  position: relative;
}
.changeable-text__inner img:first-child {
  position: absolute;
  top: -3rem;
}
.changeable-text__inner img:nth-child(2) {
  position: absolute;
  bottom: -2rem;
  right: 2rem;
  transform: rotate(-180deg);
}
.changeable-text__inner strong {
  text-align: center;
  color: #000;
  font-size: 4.85538rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  transition: color 0.3s ease;
  position: relative;
  background-image: linear-gradient(to right, black, gray);
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientSlide 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes gradientSlide {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0;
  }
}
.registration-for-contact {
  margin-bottom: 6.4rem;
}

.contact-mentioned {
  margin-bottom: 2rem;
}
.contact-mentioned strong {
  color: var(--black-like-color);
  font-size: 1.875rem;
  font-weight: 400;
  line-height: normal;
}

.form__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.form__fill {
  width: 50%;
  margin-right: 4rem;
}
.form__fill div {
  margin-bottom: 1.8rem;
}
.form__fill label {
  display: block;
  margin-bottom: 0.4rem;
  color: #000;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: normal;
}
.form__fill input {
  width: 100%;
  max-width: 100%;
  height: 3rem;
  display: block;
  border: none;
  padding: 0.4rem;
  border-bottom: 1px solid black;
  outline: none;
  color: #000;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: normal;
}

.form__selecting {
  width: 50%;
}

.for-selecting__mentioner {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.375rem;
  font-weight: 400;
  line-height: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.switch__wrapper {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(30px);
}

.switch-label {
  display: block;
  cursor: pointer;
}

.switch-label:not(:last-child) {
  margin-right: 1.2rem;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: relative;
  display: block;
  width: 3.6rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-input:checked + .switch__inner .switch-slider {
  background-color: #ffffff;
}

.switch-input:focus + .switch__inner .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch-input:checked + .switch__inner .switch-slider:before {
  background-color: var(--some-text);
  transform: translateX(2rem);
}

.switch__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 12rem;
  background-color: rgba(19, 12, 28, 0.3);
  border-radius: 3rem;
  padding: 0.5rem;
}
.switch__inner span:first-child {
  display: block;
  color: var(--black-like-color);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 0.2rem;
}

.switch-input:checked + .switch__inner {
  background-color: var(--some-text);
  color: #f4f4f4;
}

.switch-input:checked + .switch__inner span {
  color: #f4f4f4;
}

.form__submit__button {
  display: flex;
  width: 12.4375rem;
  padding: 1.125rem 1.6875rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background-color: var(--darker-color);
  flex-shrink: 0;
}
.form__submit__button span {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
}

@media screen and (max-width: 94.75rem) {
  .container {
    width: 100%;
    max-width: 83.25rem;
  }
  .customers-wrapper .container {
    max-width: 83.25rem;
  }
}
@media screen and (max-width: 1360px) {
  .project-info__top {
    justify-content: flex-start;
  }
  .projects__wrapper {
    width: 50% !important;
  }
  .projects__card:last-child {
    align-self: flex-start;
    margin-left: 5rem;
  }
  .bottom-image-wrapper {
    width: 50%;
  }
  .bottom-image-wrapper img {
    width: 35rem;
    margin-left: 7rem;
  }
  .projects__wrapper {
    width: 55% !important;
  }
}
@media screen and (max-width: 1110px) {
  .projects__card:last-child {
    align-self: flex-start;
    margin-left: 0;
  }
  .top-image-wrapper {
    width: 50%;
  }
  .top-image-wrapper img {
    width: 27rem;
    height: auto;
  }
  .bottom-image-wrapper {
    width: 50%;
  }
  .bottom-image-wrapper img {
    width: 32rem;
    height: auto;
  }
}
@media screen and (max-width: 1260px) {
  .success__wrapper {
    justify-content: space-around;
  }
  .success__inner {
    margin-bottom: 1rem;
    width: 40rem;
  }
  .success__inner p {
    width: 100%;
    color: #130c1c;
    font-size: 1.575rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media screen and (max-width: 1200px) {
  .site-main__actions {
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
  }
  .site-main__slider {
    width: 100%;
    max-width: 100%;
    height: 50vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 4rem;
  }
  .site-main__slider::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.4rem;
  }
  .site-main__slider::-webkit-scrollbar-track {
    border: 1px solid var(--darker-color);
  }
  .site-main__slider::-webkit-scrollbar-thumb {
    background-color: var(--some-text);
    outline: 1px solid #f5f5f5;
    border-radius: 0.1rem;
  }
  .slider-item {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    text-align: center;
    font-size: 1.5rem;
  }
  .slider-image {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .ticker {
    order: -1;
    position: relative;
    top: 0;
    width: 100%;
    height: 2rem;
    padding: 1.5rem;
  }
  .ticker__line {
    width: 100%;
    top: 0;
  }
}
@media screen and (max-width: 1000px) {
  .progress__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .progress__opener {
    align-self: flex-start;
  }
  .tabs__list {
    margin-bottom: 0.5rem;
  }
  .tabs__link {
    color: var(--tabs-color);
    font-size: 1.575rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
  }
  .tabs-info {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 900px) {
  .success__wrapper {
    justify-content: space-around;
  }
  .success__inner {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 100%;
    min-height: 0;
  }
  .success__inner p {
    width: 100%;
    color: #130c1c;
    font-size: 1.575rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media screen and (max-width: 900px) {
  .project-info__top {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }
  .projects__wrapper {
    width: 100% !important;
  }
  .projects__wrapper .projects__card {
    width: 100% !important;
    max-width: 100% !important;
  }
  .projects__wrapper p {
    width: 100% !important;
  }
  .top-image-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
    order: -1;
    margin-bottom: 0.5rem;
  }
  .projects__wrapper__second {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
  }
  .projects__wrapper__second .projects__card {
    width: 100% !important;
    max-width: 100% !important;
  }
  .project-info__bottom {
    flex-direction: column;
  }
  .bottom-image-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .customers__mentioned::before {
    display: none;
  }
  .portolio__mentioned:before {
    display: none;
  }
  .brands__list {
    flex-wrap: wrap;
  }
  .brands__item img {
    width: 100%;
    max-width: 160px;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .customers__mentioned::before {
    display: none;
  }
  .brands__list {
    flex-wrap: wrap;
  }
  .brands__item img {
    width: 100%;
    max-width: 9rem;
    height: auto;
  }
  .other {
    color: var(--black-like-color);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 1.1rem */
  }
}
@media screen and (max-width: 600px) {
  .customers__mentioned::before {
    display: none;
  }
  .brands__list {
    flex-wrap: wrap;
  }
  .brands__item img {
    width: 100%;
    max-width: 8rem;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .changeable-text__inner {
    width: 100%;
    max-width: 90rem;
    position: relative;
  }
  .changeable-text__inner img:first-child {
    position: absolute;
    top: -3rem;
  }
  .changeable-text__inner img:nth-child(2) {
    position: absolute;
    bottom: -2rem;
    right: 2rem;
    transform: rotate(-180deg);
  }
  .changeable-text__inner strong {
    text-align: center;
    color: #000;
    font-size: 2.35538rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    transition: color 0.3s ease;
    position: relative;
    background-image: linear-gradient(to right, black, gray);
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientSlide 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }
}
@media screen and (max-width: 500px) {
  .changeable-text__inner {
    width: 100%;
    max-width: 90rem;
    position: relative;
  }
  .changeable-text__inner img:first-child {
    position: absolute;
    top: -4rem;
  }
  .changeable-text__inner img:nth-child(2) {
    position: absolute;
    bottom: -2rem;
    right: 2rem;
    transform: rotate(-180deg);
  }
  .changeable-text__inner strong {
    text-align: center;
    color: #000;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    transition: color 0.3s ease;
    position: relative;
    background-image: linear-gradient(to right, black, gray);
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientSlide 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }
}
@media screen and (max-width: 700px) {
  .changeable-text__inner img:nth-child(2) {
    position: absolute;
    bottom: -3rem;
    right: 2rem;
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 1000px) {
  .form__inner {
    flex-direction: column;
  }
  .form__fill {
    width: 100%;
    max-width: 100%;
  }
  .form__selecting {
    width: 100%;
    max-width: 100%;
  }
  .switch__wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Light.woff2") format("woff2"), url("../fonts/Degular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Regular.woff2") format("woff2"), url("../fonts/Degular-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Medium.woff2") format("woff2"), url("../fonts/Degular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Semibold.woff2") format("woff2"), url("../fonts/Degular-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
:root {
  --some-text: #9954ff;
  --darker-color: #4918a6;
  --ticker-color: #582D86;
  --tabs-active-color: #9954ff;
  --tabs-color:rgba(19, 12, 28, 0.3);
  --black-like-color:#130c1c;
  --lighter-text-color:rgba(19, 12, 28, 0.4);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Degular", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover,
button:focus {
  opacity: 0.9;
  outline: 0;
}

.container {
  width: 100%;
  max-width: 92.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 94.75rem) {
  .container {
    width: 100%;
    max-width: 83.25rem;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 396px) {
  html {
    font-size: 12px;
  }
}
.site-footer {
  background-color: #582d86;
  padding: 2rem;
}
.site-footer h1 {
  color: #f4f4f4;
  font-size: 4.85538rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.our-help {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  cursor: pointer;
}
.our-help a {
  color: var(--some-text);
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.our-help img {
  width: 4.4rem;
  height: 4.4rem;
  transform: rotate(-90deg);
}

.footer__lists {
  display: flex;
  margin-bottom: 7rem;
}

.footer__list:not(:last-child) {
  margin-right: 12rem;
}

.footer__list li:not(:first-child) {
  color: #FFF;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.footer__list li:first-child {
  color: #FFF;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.footer__logos img:first-child {
  width: 9rem;
  height: 3.1rem;
  margin-right: 6rem;
}

#splide__item-2 {
  width: 100% !important;
  max-width: 25rem !important;
  margin-right: 1.5rem;
}

@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Light.woff2") format("woff2"), url("../fonts/Degular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Regular.woff2") format("woff2"), url("../fonts/Degular-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Medium.woff2") format("woff2"), url("../fonts/Degular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Semibold.woff2") format("woff2"), url("../fonts/Degular-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
:root {
  --some-text: #9954ff;
  --darker-color: #4918a6;
  --ticker-color: #582D86;
  --tabs-active-color: #9954ff;
  --tabs-color:rgba(19, 12, 28, 0.3);
  --black-like-color:#130c1c;
  --lighter-text-color:rgba(19, 12, 28, 0.4);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Degular", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover,
button:focus {
  opacity: 0.9;
  outline: 0;
}

.container {
  width: 100%;
  max-width: 92.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 94.75rem) {
  .container {
    width: 100%;
    max-width: 83.25rem;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 396px) {
  html {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
