@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Light.woff2") format("woff2"), url("../fonts/Degular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Regular.woff2") format("woff2"), url("../fonts/Degular-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Medium.woff2") format("woff2"), url("../fonts/Degular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Semibold.woff2") format("woff2"), url("../fonts/Degular-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
:root {
  --some-text: #9954ff;
  --darker-color: #4918a6;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Degular", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 92.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.header-intro-wrapper {
  padding-top: 2.5rem;
  background-image: url("../img/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
  height: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header-intro-wrapper {
    background-image: url("../img/main-bg@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;
  }
}
.site-header {
  padding: 0.7rem;
  margin-bottom: 12rem;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo {
  display: block;
  width: 6.875rem;
  height: 2.40981rem;
  flex-shrink: 0;
  margin-right: 9.2rem;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item:not(:last-child) {
  margin-right: 2rem;
}

.navbar__item:hover .navbar__link {
  color: var(--some-text);
}

.navbar__item:active .navbar__link {
  color: rgba(153, 84, 255, 0.6);
}

.navbar__link {
  color: #ffffff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.header__link {
  width: 100%;
  max-width: 13rem;
  height: 4rem;
  display: flex;
  padding: 1.125rem 1.6875rem;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--darker-color);
}

.now-connecting {
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.header__link:hover {
  background-color: rgba(73, 24, 166, 0.8);
}

.header__link:active {
  background-color: rgba(73, 24, 166, 0.6);
}

.site-intro__wrapper {
  max-width: 40rem;
  width: 100%;
}

.site-intro__title {
  color: #ffffff;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
}

@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Light.woff2") format("woff2"), url("../fonts/Degular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Regular.woff2") format("woff2"), url("../fonts/Degular-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Medium.woff2") format("woff2"), url("../fonts/Degular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Semibold.woff2") format("woff2"), url("../fonts/Degular-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
:root {
  --some-text: #9954ff;
  --darker-color: #4918a6;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Degular", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 92.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.site-main {
  flex-grow: 1;
}

.site-main__wrapper {
  height: 400px;
}

@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Light.woff2") format("woff2"), url("../fonts/Degular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Regular.woff2") format("woff2"), url("../fonts/Degular-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Medium.woff2") format("woff2"), url("../fonts/Degular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("../fonts/Degular-Semibold.woff2") format("woff2"), url("../fonts/Degular-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
:root {
  --some-text: #9954ff;
  --darker-color: #4918a6;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Degular", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  max-height: 100vh;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 92.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=styles.css.map */
